@model Cinema.WEB.Models.GenreModels.GenreVms.GenreCreateVM

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-3 mb-3">
            <div class="card shadow">
                <div class="card-body">
                    <form class="col-md-auto" method="post" asp-action="GenreCreate">
                        <div class="row">
                            <div class="col-12">
                                <div class="p-3 row">
                                    <div class="col-12 pb-2">

                                        <center>
                                            <h1>Добавить</h1>
                                        </center>

                                        <hr />

                                        <div class="mb-3">
                                            <label asp-for="Name" class="control-label m-1"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <button type="submit" class="btn btn-primary col-12">Добавить</button>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <a asp-controller="Genre" asp-action="GenreIndex" class="btn btn-danger col-12">
                                                        Назад
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
